
/* import local css file color */
@import url('colors.css');

/* import expense and categories local css */
@import url('categories.css');
@import url('expenses.css');
/* import navbar local css */
@import url('navbar.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', 'Montserrat', 'Lato', sans-serif;
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--background-primary);

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    width: 100vw;

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }



    main {
        flex-grow: 1;
        width: 100%;
        color: var(--text-primary);

        #app-title {
            padding: 1.5rem 2.8rem;
            background-color: var(--background-secondary);
            font-size: 1.35rem;
            font-weight: 500;
            width: 100%;
        }

        #categories-listing-main-section, #expense-listing-main-section, #create-category-expense-main-section {
            padding: 4.2rem 2.8rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: start;
            max-width: 1100px;
            margin: 0 auto;




            #add-button {
                padding: 8px 12px;
                background-color: var(--background-white);
                color: var(--background-primary);
                border-radius: 8px;
                text-decoration: none;
            }

            #add-button:hover {
                background-color: var(--background-white-hover);
            }

            ul {
                list-style: none;
                width: 100%;
                font-size: 1.1rem;

                li {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    gap: 8px;
                    padding: 12px 16px;


                }

            }
        }

    }
}


