


body {

    main {



        #categories-listing-main-section{
            padding: 1.5rem 2.8rem;


            table {
                width: 100%;

                .categories-list-header {
                    background-color: var(--background-tertiary);
                    color: var(--text-greyed);
                }

                td, th {
                    padding: 0.6rem 1rem;
                }

                td {
                    border-bottom: 2px solid var(--background-tertiary);
                }


            }
        }

        #categories-list {
            tr {

                background-color: var(--background-secondary);
                a {
                    color: var(--text-electric-blue);
                }
            }
        }


    }
}

@media screen and (max-width: 500px) {
    body {
        main {
            #categories-listing-main-section {
                padding: 1.5rem 1rem;
            }
        }
    }
}
