
/* import local css file color */
/* @import url('colors.css'); */


body {


    main {

        #expense-month-navigation-buttons-section{
            background-color: var(--background-secondary);
            display: flex;
            justify-content: start;
            flex-direction: column;
            padding: 1.5rem 2.8rem;
            gap: 0.7rem;

            h1 {
                font-size: 1.35rem;
                font-weight: 500;
            }


            p {
                display: flex;
                gap: 1rem;

                a {
                    color: var(--text-blue-secondary);
                    font-size: 0.95rem;
                }
            }
        }


        #categories-listing-main-section, #expense-listing-main-section, #create-category-expense-main-section {


            .expense-list-header {
                justify-content: space-between;

            }

            .budget-consumption-bar {
                padding: 0;
                margin: 0;
                border: 2px solid;
                width: 100%;
            }

            ul {


                .expense-list-header {
                    background-color: var(--background-secondary);

                }

                .expense-list-item {
                    background-color: var(--background-tertiary) !important;

                    a {
                        color: var(--text-red) !important;
                    }

                    span {
                        color: var(--text-blue-secondary);
                    }
                }


            }
        }

    }
}


